@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.historical-chart {
  width: 100%;
  max-width: 600px; /* Limit max width */
  margin: auto; /* Center the chart */
}

@media (min-width: 768px) {
  .historical-chart {
    max-width: 800px; /* Wider on larger screens */
  }
}

.pair-detail {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .pair-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}