@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .historical-chart {
    max-width: 800px; /* Wider on larger screens */
  }
}

@media (min-width: 768px) {
  .pair-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .ticker-subscription {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .pair-item {
    flex: 1 1 30%;
  }
}
